@use 'colorpalette'
@use 'font'
@use 'nav'

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video
  margin: 0
  padding: 0
  border: 0
  vertical-align: baseline
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: antialiased
  text-size-adjust: none

a
    color: colorpalette.$font-color
    &:hover
        text-decoration: underline
        color: colorpalette.$orange
body
    line-height: 1.3
    background-color: colorpalette.$background-color
    color: colorpalette.$font-color
    font-family: "Doto", sans-serif
    font-optical-sizing: auto
    font-weight: 400
    font-style: normal
    font-variation-settings:  "ROND" 100

.middle
    margin-left: 2.5em
    margin-right: 2.5em

ul
    list-style: katakana
    margin-left:5em

p
    margin-left: 3em
    margin-right: 3em

.text-block
    background-color: hsl(colorpalette.$bg-color-h, colorpalette.$bg-color-s, colorpalette.$bg-color-l + 5%)
    padding: 10px
    margin: 5px 0 0 30px
    border-radius: 10px 0 10px 0
