@use 'colorpalette' 
@use 'font' 
@use 'nav' 

a
    color: colorpalette.$font-color
    &:hover
        text-decoration: underline
        color: colorpalette.$orange
body
    background-color: colorpalette.$background-color
    color: colorpalette.$font-color

.middle
    margin-left: 1em
    margin-right: 1em