@use 'colorpalette' 
@use 'font'  

a
    color: colorpalette.$font-color
    &:hover
        text-decoration: underline
        color: colorpalette.$orange
body
    background-color: colorpalette.$background-color
    color: colorpalette.$font-color
